services:
  # =========================================================
  # 1. API GATEWAY (LARAVEL - PHP-FPM)
  # =========================================================
  seguridad:
    build:
      context: ./seguridad
      dockerfile: Dockerfile.seguridad
    container_name: api_gateway_seguridad
    restart: unless-stopped
    volumes:
      - ./seguridad:/var/www/html
      - /var/www/html/vendor
    networks:
      network_services:
        ipv4_address: 172.28.0.10 
    depends_on:
      - mysql_seguridad
      
  # ---------------------------------------------------------
  # 2. MICROSERVICIO MENSAJES (FLASK - PYTHON)
  # ---------------------------------------------------------
  mensajes:
    build:
      context: ./mensajes
      dockerfile: Dockerfile.mensajes
    container_name: microservicio_mensajes
    restart: unless-stopped
    # Montamos el código y el .env
    volumes:
      - ./mensajes:/usr/src/app
    networks:
      network_services:
        ipv4_address: 172.28.0.20 # Nueva IP estática para Flask
    depends_on:
      - mongodb_mensajes
      
  # ---------------------------------------------------------
  # 3. Servidor web Nginx (Capa de Exposición/Proxy)
  # ---------------------------------------------------------
  nginx:
    image: nginx:stable-alpine
    container_name: web_seguridad
    restart: unless-stopped
    # Mantenemos el puerto 80. Si Apache vuelve a interferir, usa "8080:80".
    ports:
      - "80:80"
    volumes:
      - ./seguridad:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    networks:
      - network_services
    # Ahora depende de AMBOS microservicios
    depends_on:
      - seguridad
      - mensajes

  # =========================================================
  # 4. BASES DE DATOS
  # =========================================================
  
  # Base de datos MySQL para 'seguridad'
  mysql_seguridad:
    image: mysql:8.0
    container_name: db_mysql_seguridad
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: seguridad
      MYSQL_USER: user 
      MYSQL_PASSWORD: user 
      MYSQL_ROOT_PASSWORD: root
      TZ: America/Bogota
    volumes:
      - dbdata_seguridad:/var/lib/mysql
    networks:
      - network_services

  # Base de datos MongoDB para 'mensajes'
  mongodb_mensajes:
    image: mongo:latest
    container_name: db_mongodb_mensajes
    restart: unless-stopped
    # Definimos la base de datos inicial (opcional, pero buena práctica)
    environment:
      MONGO_INITDB_DATABASE: mensajes 
    volumes:
      - dbdata_mensajes:/data/db
    networks:
      - network_services

# =========================================================
# VOLÚMENES Y REDES
# =========================================================
volumes:
  dbdata_seguridad:
  dbdata_mensajes:

networks:
  network_services:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16 
          gateway: 172.28.0.1